<img [src]="image()" alt="product image" width="180" height="180" />
<div class="details">
  <div class="name">
    {{ product().name }}
  </div>
  <div class="description">
    {{ product().description }}
  </div>
  <app-ranking [value]="product().ranking"></app-ranking>
</div>
<div class="aux">
  <div class="price">
    {{ product().unitPrice | currency }}
  </div>
  @if (isInCart()) {
    <button matButton="tonal" (click)="store.viewCart()">View Cart</button>
  } @else {
    <button matButton="filled" (click)="store.addToCart(product().id)">
      Add to Cart
    </button>
  }
</div>
